* {
    outline: 2px solid red;
}

.header {
    padding: 80px;
    text-align: auto;
    margin-bottom: 10px;
    color: black;
    font-family: Arial, Verdana, Helvetica;
    font-size: 80px;
}

.field {

}

.value {

}