/* to help with flexbox? */
* {
  outline: 2px solid red;
}

.logoImg {
    display: block;
    margin: 0 auto;
    margin-bottom: 0px;
}

.logoText {
    padding: 0px;
    color: teal;
    font-size: 50px;
    text-align: center;
}

.motto {
    padding: 10px;
    margin-bottom: 60px;
    text-align: center;
    padding: 10px;
}

.header {
    padding: 80px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    font-family: Arial, Verdana, Helvetica;
    font-size: 80px;
}

.body {
    padding: 110px;
    text-align: auto;
    margin-bottom: 30px;
    color: black;
    font-family: Arial, Verdana, Helvetica;
    font-size: 40px;
}

.galleryImg {
    width: auto;
    height: 400px;
}

.askJoin {
    padding: 80px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    font-family: Arial, Verdana, Helvetica;
    font-size: 80px;
}

.bigImg {
    width: 1200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.enterAccount {
    text-align: center;
    font-size: 40px;
}

.mission {
    text-align: center;
    padding: 10px;
}