* {
  outline: 2px solid red;
}
.parent {
    padding: 40px;
}
.header {
    font-size: 40px;
}
.label {

}
.input {

}
.select {

}


/* -------------------- */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 500px; /*top&bottom, left&right*/
}
.pageName {
    font-size: 70px;
}
.required {
    font-size: 20px;
}
/* -------------------- */
.personal {
    
}
/* -------------------- */
.contact {

}
.addressBox {

}
.subHeader {
    font-size: 30px;
}
/* -------------------- */
.attributes {

}
.multiSelect {

}
.textArea {

}
.available {

}
/* -------------------- */
.button {

}