/* * {
  outline: 2px solid red;
} */
/* events match list */
.grandparent {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 70px;
}
/* event cards */
.parent {
    padding: 40px;
    list-style-type: none;
    margin: 0;
    padding: 1;
    outline: 10px solid black;
    border-radius: 30px;
    width: 20%;
}
.header {
    font-size: 35px;
}
/* .label {

}
.input {

}
.select {

} */


/* -------------------- */
.parentTitle {
    margin: 40px;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 500px; /*top&bottom, left&right*/
}
.pageName {
    font-size: 70px;
}
.required {
    font-size: 20px;
}
/* -------------------- */
/* .personal {

} */
/* -------------------- */
/* .contact {

}
.addressBox {

} */
.subHeader {
    font-size: 25px;
    font-weight: 400;
}
/* -------------------- */
.attributes {

}
.multiSelect {

}
.textArea {
    margin: 5px;
    width: 330px;
    height: 100px;
    resize: vertical;
}
.available {

}
/* -------------------- */
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 500px;
}