/* * {
  outline: 2px solid red;
} */

.header {
    font-size: 70px;
}
.parent {
    padding: 40px;
}
.paragraph {
    font-size: 30px;
    padding: 20px 150px; /*top&bottom, left&right*/
}

/* -------------------- */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img, .logo h1, .logo p {
    margin: 0;
}
.logoImg {
    width: 300px;
    height: auto;
}
.logoText {
    font-weight: 900;
    font-size: 60px;
}
.motto {
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
}
/* -------------------- */
.topImg {
    display: flex;
    justify-content: center;
    height: 800px;
    width: auto;
}
/* -------------------- */
.aboutUs {
    display: flex;
    flex-direction: column;
}

.body {

}
/* -------------------- */
.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* -------------------- */
.gallery {
    
}

img {
    
}
/* -------------------- */
.account {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottomImg {
    display: flex;
    justify-content: center;
    height: auto;
    width: 1000px;
}
.enterAccount {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 80px;
}
/* -------------------- */