* {
  outline: 2px solid red;
}

.header {
    font-size: 70px;
}
.parent {
    padding: 30px;
}
.paragraph {
    font-size: 40px;
}

/* -------------------- */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoImg {
    width: 200px;
    height: auto;
}
.logoText {

}
.motto {

}
/* -------------------- */
.centerImg {
    display: flex;
    justify-content: center;
    height: 800px;
    width: auto;
}
/* -------------------- */
.aboutUs {
    display: flex;
    flex-direction: column;
}

.body {

}
/* -------------------- */
.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.missionSentence {

}
/* -------------------- */
.gallery {
    
}

img {
    
}
/* -------------------- */
.account {
    display: flex;
    flex-direction: column;
}
.enterAccount {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 80px;
}
/* -------------------- */