input[type="password"]:invalid:not(:placeholder-shown) {
    border: 1px solid red;
}

.SignUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-self: center;
}

.signup-form{
    margin: 20px auto;
    width: 200px;
    padding: 1em;
    border: 1px solid;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.signup-input{
    margin: 5px;
}

.link{
    display: flex;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 10px;
}

.signup-button{
    width: 100px;
    align-self: center;
    border-radius: 1em;
    cursor: pointer;
    background-color: transparent;
}

.signup-label{
    padding-left: 4px;
}